<div class="topnav">
    <div class="row-align container" >
        <div>Windows Live Messenger</div>
        <div class="row-align center">
            <div class="icon row-align center">
                <mat-icon>remove</mat-icon>
            </div>
            <div class="icon row-align center">
                <mat-icon>crop_square</mat-icon>
            </div>
            <div class="icon row-align center" (click)="closeWindow()">
                <mat-icon>close</mat-icon>
            </div>
        </div>
    </div>

</div>