<div class="row-align wrapper">
	<div class="chat-window column-align" *ngIf="connected && !hideChat" cdkDrag cdkDragBoundary=".wrapper"
		[ngClass]="{'shakeit': shakeit === true}">
		<top-nav cdkDragHandle id="chat"></top-nav>
		<div style="flex-grow: 1">
			<chat-comp></chat-comp>
		</div>
	</div>
	<div class="main-container column-align" cdkDrag cdkDragBoundary=".wrapper">
		<top-nav cdkDragHandle id="main"></top-nav>
		<div style="flex-grow: 1;">
			<connect-comp *ngIf="!connected"></connect-comp>
			<main-comp *ngIf="connected"></main-comp>
		</div>

	</div>
	<div class="desktop-icon">
		<desktop-icon appName="Chrome"></desktop-icon>
		<desktop-icon appName="Recycling Bin"></desktop-icon>
		<desktop-icon appName="MSN"></desktop-icon>
	</div>
</div>
<taskbar></taskbar>