<div class="row-align wrapper">
	<div class="chat-window column-align" *ngFor="let window of chatWindows" #windows [attr.id]="window.target.sid" cdkDrag cdkDragBoundary=".wrapper">
		<top-nav cdkDragHandle id="chat" [id]="window.target.sid"></top-nav>
		<div style="flex-grow: 1">
			<chat-comp [window]="window"></chat-comp>
		</div>
	</div>
	<div class="main-container column-align" cdkDrag cdkDragBoundary=".wrapper">
		<top-nav cdkDragHandle id="main"></top-nav>
		<div style="flex-grow: 1;">
			<connect-comp *ngIf="!connected"></connect-comp>
			<main-comp *ngIf="connected"></main-comp>
		</div>

	</div>
	<div class="desktop-icon">
		<desktop-icon appName="Chrome" (click)="checkWindows()"></desktop-icon>
		<desktop-icon appName="Recycling Bin"></desktop-icon>
		<desktop-icon appName="MSN"></desktop-icon>
	</div>
</div>
<taskbar></taskbar>