<div class="taskbar row-align">
    <div style="height:100%;" class="row-align">
        <img src="/assets/windows/start.png" style="height: 100%;">
        <div class="row-aligns app-list">
            <div class="app">
                <img src="/assets/MSN.png" style="height: 100%;">
            </div>
        </div>
    </div>
    <div class="datetime column-align" style="align-items: center; font-size: 9pt;">
        <div>{{now | date: 'shortTime' }}</div>
        <div>{{now | date: 'MM/dd/yyyy' }}</div>
    </div>
</div>